#!/usr/bin/make -f

DISTRIB_CODENAME = $(shell grep DISTRIB_CODENAME /etc/lsb-release | cut -d= -f2)

%:
	dh $@ --parallel --fail-missing --with python3

override_dh_auto_configure:
	# Debian defines CMAKE_INSTALL_SYSCONFDIR as /usr/etc, which is wrong.
	# So until Debian bug 719148 is fixed, do it ourselves.
	dh_auto_configure -- -DCMAKE_INSTALL_SYSCONFDIR=/etc

override_dh_install:
	# install autopilot tests
	cd tests/autopilot; \
	set -ex; for python in $(shell py3versions -r); do \
	    $$python setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done; \
	cd $(CURDIR)
ifeq ($(filter xenial yakkety zesty,$(DISTRIB_CODENAME)),)
	dh_install -X'*.pyc'
else
	# xenial, yakkety & zesty predate dh_missing
	dh_install -X'*.pyc' --fail-missing
endif
